<h1><%= vegetable.name %></h1>
<img src="<%= vegetable.main_image_path %>" alt="">
<ul>
<li><%= vegetable.binomial_name %></li>
<li><%= vegetable.description %></li>
<li><%= vegetable.sun_requirements %></li>
<li><%= vegetable.row_spacing %></li>
<li><%= vegetable.height %></li>
</ul>